<!DOCTYPE html>
<html>
<head>
  <title>cijug</title>
  <link rel="stylesheet" href="lib/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="src/app.css">
</head>
<body ng-app="cijug" ng-cloak>

<form name="why" ng-controller="WhyControllerUsingScope" ng-submit="answerMe()">
  <div class="form-group control-label">
    <label for="framework">What framework would you like to discuss?</label>
    <input id="framework" type="text" class="form-control" ng-model="framework">
  </div>

  <div class="form-group">
    <button type="submit" ng-if="framework" class="btn btn-success btn-lg">Why is {{framework}} so popular?</button>
  </div>

  <div class="form-group" ng-if="answer">
    <h1>{{answer}}</h1>
  </div>
</form>

<script src="lib/bower_components/angular/angular.js"></script>
<script src="src/app.js"></script>
<script src="src/whyControllerUsingScope.js"></script>
</body>
</html>