<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>cijug</title>
  <link rel="stylesheet" href="lib/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="src/app.css">
</head>
<body ng-app="cijug" ng-cloak>

<form name="why" ng-controller="NotSoSmartWhyController as vm" ng-submit="vm.answerMe()">
  <div class="form-group control-label">
    <label for="framework">What framework would you like to discuss?</label>
    <input id="framework" type="text" class="form-control" ng-model="vm.framework">
  </div>

  <div class="form-group">
    <button type="submit" ng-if="vm.framework" class="btn btn-success btn-lg">Why is {{vm.framework}} so popular?</button>
  </div>

  <div class="form-group" ng-if="vm.answer">
    <h1 class="answer">{{vm.answer}}</h1>
  </div>
</form>

<script src="lib/bower_components/angular/angular.js"></script>
<script src="src/app.js"></script>
<script src="src/notSoSmartWhyController.js"></script>
<script src="src/whyService.js"></script>
<script src="src/shrug.js"></script>
</body>
</html>